.div-region-type-picker {
	margin-top: 12px;
	margin-bottom: 12px;
}

.div-region-type-picker-desc {
	margin-bottom: 12px;
}

.span-region-type-picker-item {
	margin-left: 6px;
	color: #ddd;
}

.span-region-type-picker-item:hover {
	color: black;
}

.span-region-type-picker-item-selected {
	color: black;
}
