.div-region-type-picker {
	margin-top: 12px;
	margin-bottom: 12px;
}

.div-region-type-picker-desc {
	margin-bottom: 12px;
}

.div-region-type-picker-item {
	margin: 6px;
	color: black;
	font-size: 12px;
}

.div-region-type-picker-item:hover {
	color: black;
}

.div-region-type-picker-item-selected {
	color: black;
}
