.div-layer-view {
	position: absolute;
	top: 20px;
	right: 15px;
	z-index: 10000;
	min-width: calc(min(40%, 300px));
	max-width: 95%;
	margin-left: 15px;
	padding: 12px;
	border-radius: 6px;
	background: white;
	font-size: 80%;
}

.div-layer-menu {
	margin: 3px;
	padding: 3px;
}

.input-text-layers {
	width: 90%;
	margin: 3px;
	padding: 3px;
	border: none;
	border-radius: 6px;
	background: #f8f8f8;
	color: gray;
	outline: none;
}

.div-common-layer-header {
	padding-top: 6px;
	color: lightgray;
	font-size: 80%;
}

.div-layer {
	padding: 3px;
	cursor: pointer;
}

.div-layer-selected {
	color: orange;
}

.div-layer:hover {
	color: orange;
}

.div-region-type-picker {
	margin-top: 12px;
	margin-bottom: 12px;
}

.div-region-type-picker-desc {
	margin-bottom: 12px;
}

.span-region-type-picker-item {
	margin: 3px;
	padding: 3px;
	border-radius: 3px;
	background: #eee;
	color: #ddd;
}

.span-region-type-picker-item-selected {
	background: orange;
	color: white;
}
