.div-layer-selector {
	overflow: scroll;
	max-height: 50vh;
}

.div-layer {
	padding: 3px;
	color: lightgray;
	cursor: pointer;
}

.div-layer-selected {
	color: black;
}

.div-layer:hover {
	color: black;
}

.input-text-layers {
	width: 90%;
	margin: 3px;
	padding: 3px;
	border: none;
	border-radius: 6px;
	background: #f8f8f8;
	color: gray;
	outline: none;
}
