.div-title {
  z-index: 10000;
  position: absolute;
  bottom: 20px;
  right: 60px;
  background: white;
  border-radius: 6px;
  padding: 3px;
}

.div-rendered-regions {
  display: inline;
  padding: 6px;
}

.div-rendered-region {
  display: inline-block;
  padding: 6px;
}

.div-region-type {
  font-size: 40%;
  color: black;
}

.div-region-name {
  font-size: 60%;
  color: black;
}

.img-geolocate {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: none;
  background: white;
  padding: 6px;
  display: table-cell;
  cursor: pointer;
}
