.div-legend-view {
	position: absolute;
	bottom: 24px;
	left: 24px;
	z-index: 10000;
	margin: 12px;
	padding: 12px;
	border-radius: 6px;
	background: white;
	opacity: 0.9;
}

.th-label {
	text-align: left;
}
